<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/bf967738-0b45-4fd9-a143-2c8d14303372/resourceGroups/ResourceGroup/providers/Microsoft.ApiManagement/service/Tesis/apis/Tesis2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/bf967738-0b45-4fd9-a143-2c8d14303372/resourceGroups/ResourceGroup/providers/Microsoft.Web/sites/estilosaprendizaje</ResourceId>
    <ResourceGroup>ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://estilosaprendizaje-cxakfkgcf7a2bvd2.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3a46ce8e-e9e5-45c3-93c7-52c335c44307</ProjectGuid>
    <PublishUrl>https://estilosaprendizaje-cxakfkgcf7a2bvd2.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>